# The contents of this file is based on https://github.com/home-assistant/core/blob/dev/pyproject.toml

target-version = "py313"

[lint]
select = [
    "ALL",
]

ignore = [
    "ANN401", # Dynamically typed expressions (typing.Any) are disallowed
    "D203", # no-blank-line-before-class (incompatible with formatter)
    "D212", # multi-line-summary-first-line (incompatible with formatter)
    "COM812", # incompatible with formatter
    "ISC001", # incompatible with formatter
    "EXE002",
]

[lint.flake8-pytest-style]
fixture-parentheses = false

[lint.pyupgrade]
keep-runtime-typing = true

[lint.mccabe]
max-complexity = 25

[lint.per-file-ignores]
"tests/**" = [
    "S101",   # assert is fine in tests
    "ANN",    # type annotations not required in tests
    "D",      # docstring style not enforced in tests
    "FBT001", # boolean positional args are fine in test helpers
    "FBT002",
    "PLR2004", # magic values are fine in tests
    "SLF001", # private member access is fine in tests
]
